@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #0f172a; /* script-900 / zinc-900 text */
  background-color: #fafafa; /* zinc-50 bg */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root {
  isolation: isolate;
}

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    @apply w-2 h-2;
  }
  &::-webkit-scrollbar-track {
    @apply bg-transparent rounded-full;
  }
  &::-webkit-scrollbar-thumb {
    @apply rounded-full transition-colors duration-300;
    background-color: rgb(100 116 139 / 0.4);
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(100 116 139 / 0.7);
  }
  &::-webkit-scrollbar-thumb:active {
    background-color: rgb(71 85 105);
  }
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgb(100 116 139 / 0.4) transparent;
}
